<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end -}}

    {{- if .Get "lightsrc" -}}
        {{-
            partial "image" (dict "Image" ($.Page.Resources.GetMatch (.Get "lightsrc"))
                                "Class" "image-light"
                                "Width" (.Get "width")
                                "Height" (.Get "height")
                                "Alt" (.Get "alt")
                                "Caption" (.Get "caption")
                            )
        }}
    {{- end -}}

    {{- if .Get "darksrc" -}}
        {{-
            partial "image" (dict "Image" ($.Page.Resources.GetMatch (.Get "darksrc"))
                                  "Class" "image-dark"
                                  "Width" (.Get "width")
                                  "Height" (.Get "height")
                                  "Alt" (.Get "alt")
                                  "Caption" (.Get "caption")
                            )
        }}
    {{- end -}}

    {{- if .Get "src" -}}
        {{-
            partial "image" (dict "Image" ($.Page.Resources.GetMatch (.Get "src"))
                                "Width" (.Get "width")
                                "Height" (.Get "height")
                                "Alt" (.Get "alt")
                                "Caption" (.Get "caption")
                                "Srcset" (.Get "srcset")
                            )
        }}
    {{- end -}}

    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") }}
        <figcaption>
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>