<!DOCTYPE html>

{{- $.Scratch.Delete "social_list" }}<!---->
{{- $.Scratch.Delete "avatar_url" }}<!---->

<!-- social_list -->
{{- $social_params := slice "twitter" "mastodon" "github" "instagram" "mail" "rss" }}<!---->
{{- range $social_params }}<!---->
{{- if isset site.Params . }}<!---->
{{- $.Scratch.Add "social_list" (slice .) }}<!---->
{{- end -}}<!---->
{{- end -}}<!---->

<html lang="{{ site.LanguageCode }}" >
  {{ partial "head.html" . }}
  <body>
    <main>
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
